<h1>Welcome <%= @user.username %></h1>

<h5>Enjoy this website features to discover new wineries in your area, add comments to the wineries that you have visited or introduce your newly discovered wineries!</h4>
