<ul>
    <% @regions.each do |region| %>
        <li>
            <ol>
                <% region.wineries.each do |winery| %>
                    <li><%= link_to winery.name, winery_path(winery) %></li>
                <% end %>
            </ol>
        </li>
    <% end %>
</ul>