<h1><%= @region.name %> - <%= pluralize(@region.wineries.count, "wineries") %></h1>

<ol>
    <% @region.wineries.each do |winery| %>
        <li><%= link_to winery.name, winery_path(winery) %></li>
    <% end %>
</ol>